<script>
    $(document).ready(function () {
        {% if site.google_scholar_stats_use_cdn %}
        var gsDataBaseUrl = 'https://cdn.jsdelivr.net/gh/{{ site.repository }}@'
        {% else %}
        var gsDataBaseUrl = 'https://raw.githubusercontent.com/{{ site.repository }}/'
        {% endif %}
        $.getJSON(gsDataBaseUrl + "google-scholar-stats/gs_data.json", function (data) {
            // 检查总引用数元素是否存在
            var totalCitElement = document.getElementById('total_cit');
            if (totalCitElement) {
                var totalCitation = data['citedby'];
                totalCitElement.innerHTML = totalCitation;
            }
            
            // 更新论文引用数
            var citationEles = document.getElementsByClassName('show_paper_citations');
            Array.prototype.forEach.call(citationEles, element => {
                var paperId = element.getAttribute('data');
                if (data['publications'] && data['publications'][paperId]) {
                    var numCitations = data['publications'][paperId]['num_citations'];
                    // 使用Google Scholar图标显示引用数，每篇论文显示对应的引用数
                    element.innerHTML = ' <a href="https://scholar.google.com/citations?user=TJtQW8gAAAAJ" title="Google Scholar Citations"><img src="https://img.shields.io/badge/citations-' + numCitations + '-9cf?logo=google-scholar&labelColor=f6f6f6&style=flat" alt="citations: ' + numCitations + '"></a>';
                }
            });
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log('Failed to fetch Google Scholar data:', textStatus, errorThrown);
        });
    })
</script>